version: '3.8'
services:
  test:
    build: .
    command: mvn test
    volumes:
      - .:/app
    working_dir: /app/repository_after

  evaluation:
    build: .
    command: python3 evaluation/evaluation.py
    volumes:
      - .:/app
    depends_on:
      - test
    working_dir: /app
