services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: flashsale
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    working_dir: /app/repository_after
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/flashsale
      - PYTHONPATH=/app:/app/repository_after

  frontend:
    build: .
    
    command: >
      sh -c "if [ ! -d 'node_modules' ]; then npm install; fi && 
             npm run dev -- --host 0.0.0.0"
    volumes:
      - .:/app
    working_dir: /app/repository_after/frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    entrypoint: []
    depends_on:
      - app

volumes:
  pgdata: