version: '3.8'

services:
  test-before:
    build: .
    environment:
      - PYTHONPATH=/app/repository_before
    command: pytest -v tests
    volumes:
      - .:/app

  test-after:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
    command: pytest -v tests
    volumes:
      - .:/app

  evaluation:
    build: .
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
