services:
  tests-before:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "cp tests/*.go repository_before/ && cd repository_before && (go test -v -race . || true) && rm -f *_test.go"

  tests-after:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "cp tests/*.go repository_after/ && cd repository_after && (go test -v -race . || true) && rm -f *_test.go"

  evaluation:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: go run evaluation/evaluation.go
