services:
  app:
    build: .
    volumes:
      - .:/app
    environment:
      - NODE_ENV=test

  test-after:
    build: .
    volumes:
      - .:/app
    environment:
      - NODE_ENV=test
    command: tests-after

  evaluation:
    build: .
    volumes:
      - .:/app
    environment:
      - NODE_ENV=test
    command: evaluation
