services:
  app:
    build: .
    volumes:
      - .:/app
      - /app/repository_after/node_modules
    environment:
      - NODE_ENV=test

  test-after:
    build: .
    volumes:
      - .:/app
      - /app/repository_after/node_modules
    environment:
      - NODE_ENV=test
    command: tests-after

  evaluation:
    build: .
    volumes:
      - .:/app
      - /app/repository_after/node_modules
    environment:
      - NODE_ENV=test
    command: evaluation
