version: '3.8'

services:
  repo-before:
    build: .
    command: npm run test:api
    volumes:
      - .:/app
      - /app/node_modules

  repo-after:
    build: .
    command: npm run test:meta
    volumes:
      - .:/app
      - /app/node_modules

  evaluation:
    build: .
    command: node evaluation/evaluation.js
    volumes:
      - .:/app
      - /app/node_modules
      - ./evaluation:/app/evaluation
