services:
  app:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - REPO_PATH=/app/repository_after
