
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      target: backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  frontend:
    build:
      context: .
      target: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./repository_after/frontend:/app/frontend
      - /app/frontend/node_modules
    depends_on:
      - backend

  test-after:
    build:
      context: .
      target: backend
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    command: pytest tests/unit_test.py tests/integration_test.py tests/scalability_test.py -v --tb=short
    depends_on:
      - redis
  evaluate:
    build:
      context: .
      target: backend
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=redis
    command: python evaluation/evaluate.py
    depends_on:
      - redis
      - test-after

