version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./repository_after:/app/repository_after
      - ./repository_before:/app/repository_before
      - ./tests:/app/tests
      - ./evaluation:/app/evaluation
      - /app/repository_after/node_modules
      - /app/repository_before/node_modules
    working_dir: /app/repository_after

