.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    background-color: rgb(107 99 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 3; 
    margin-bottom: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.app-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.new-button {
    border: none;
    border-radius: 5px;
    background-color: #ffd500;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.7rem 1rem;
    outline: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: #f5ba13;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}