version: '3.8'

services:
  test-before:
    build: .
    environment:
      - TARGET_REPO=repository_before
    command: python3 -m pytest tests/test_meta.py
    volumes:
      - .:/app

  test-after:
    build: .
    environment:
      - TARGET_REPO=repository_after
    command: python3 -m pytest tests/test_meta.py
    volumes:
      - .:/app

  evaluation:
    build: .
    command: python3 evaluation/evaluation.py
    volumes:
      - .:/app
