services:
  app:
    build: .
    environment:
      PYTHONPATH: /app/repository_after
      DATABASE_URL: postgresql://postgres:postgres@db:5432/app_db
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
