services:
  test-after:
    build: .
    command: pytest tests -k "not BaselineFailures"
    volumes:
      - .:/app

  test-before:
    build: .
    command: pytest tests/test_baseline_failures.py
    volumes:
      - .:/app

  evaluate:
    build: .
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
