services:
  test-before:
    build: .
    environment:
      - REPO_PATH=/app/repository_before
    command: npx jest --testPathPattern=tests/
    volumes:
      - .:/app
      - /app/node_modules

  test-after:
    build: .
    environment:
      - REPO_PATH=/app/repository_after
    command: npx jest --testPathPattern=tests/
    volumes:
      - .:/app
      - /app/node_modules

  evaluation:
    build: .
    command: node evaluation/evaluation.js
    volumes:
      - .:/app
      - /app/node_modules
