version: '3.8'

services:
  test-before:
    build: .
    volumes:
      - .:/app
    environment:
      - TARGET_REPO=repository_before
      - PYTHONPATH=/app
    command: pytest tests

  test-after:
    build: .
    volumes:
      - .:/app
    environment:
      - TARGET_REPO=repository_after
      - PYTHONPATH=/app
    command: pytest tests

  evaluation:
    build: .
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    command: python3 evaluation/evaluation.py
