# Docker Compose file for running tests

services:
  test_before:
    build: .
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app/repository_before
    command: sh -c "python -m pytest tests -v --tb=no --no-header -q --disable-warnings || exit 0"
  
  test_after:
    build: .
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app/repository_after
    command: python -m pytest tests -v --tb=no --no-header -q --disable-warnings
  
  evaluation:
    build: .
    volumes:
      - .:/app
    command: python evaluation/evaluation.py
