services:
  test:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
    command: pytest -q tests
    volumes:
      - .:/app

  test-report:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
    command: sh -c "pytest -q tests --junitxml=/app/evaluation/report.xml"
    volumes:
      - .:/app
