services:
  test:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
    command: pytest -q tests
    volumes:
      - .:/app

  test-report:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
    command: pytest -q -rA tests
    volumes:
      - .:/app
