# Docker Compose file for running tests. You should customize this as needed.

services:
  app:
    build:
      context: .
      target: final
    ports:
      - "8080:8080"
  test:
    build:
      context: .
      target: tester
    volumes:
      - .:/app
  evaluate:
    build:
      context: .
      target: tester
    volumes:
      - .:/app
    working_dir: /app/evaluation
    command: sh -c "go run evaluation.go"
