version: "3"
services:
  tests:
    build: .
    volumes:
      - .:/app
    command: pytest tests

  evaluation:
    build: .
    volumes:
      - .:/app
    command: python evaluation/evaluation.py
