version: '3.8'

services:
  test:
    build: .
    command: pytest -q tests
    volumes:
      - .:/app

  evaluate:
    build: .
    command: python3 evaluation/evaluation.py
    volumes:
      - .:/app
