services:
  app:
    build: .
    volumes:
      - .:/app
    environment:
      INSIDE_DOCKER: "true"
      DATABASE_URL: postgresql+asyncpg://postgres@127.0.0.1:5432/ecommerce
      REDIS_URL: redis://127.0.0.1:6379/0
