# Docker Compose file for running tests and evaluation. Use `docker compose run --rm test` or `docker compose run --rm evaluate`
services:
  app:
    build: .
    command: -q
    volumes:
      - .:/app

  test:
    build: .
    working_dir: /app
    environment:
      - CI=true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/repository_after/node_modules
    command: npm test --silent

  evaluate:
    build: .
    working_dir: /app
    environment:
      - CI=true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/repository_after/node_modules
    command: npx ts-node evaluation/evaluation.ts
