services:
  test:
    build:
      context: ..
      dockerfile: repository_after/Dockerfile
    environment:
      - PYTHONPATH=/app/repository_after
    command: pytest -q tests
    volumes:
      - ..:/app

  test-report:
    build:
      context: ..
      dockerfile: repository_after/Dockerfile
    environment:
      - PYTHONPATH=/app/repository_after
    command: >-
      sh -c "pytest -q tests --junitxml=/app/evaluation/report.xml; code=$?; python /app/evaluation/generate_report_json.py $code; exit 0"
    volumes:
      - ..:/app
