# Docker Compose file for running tests. You should customize this as needed.

services:
  app:
    build:
      context: .
      network: host
    command: pytest -q tests
    volumes:
      - .:/app
