services:
  tests-before:
    build: .
    volumes:
      - .:/app
    command: go test -v -race ./repository_before/...

  tests-after:
    build: .
    volumes:
      - .:/app
    command: go test -v -race ./repository_after/...

  evaluation:
    build: .
    volumes:
      - .:/app
    command: go run evaluation/evaluation.go
