version: "3.8"

services:
  test:
    image: avl-tree-test
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c "g++ -std=c++17 tests/test_avl.cpp -o test_avl && ./test_avl"

  evaluation:
    image: avl-tree-test
    volumes:
      - .:/app
    working_dir: /app
    command: python3 evaluation/evaluation.py
