services:
  app-after:
    build:
      context: .
      dockerfile: Dockerfile
    command: go test -v ./tests
    volumes:
      - .:/app

  evaluation:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "go test -json ./tests 2>&1 | go run evaluation/evaluation.go"
    environment:
      - PROJECT_ROOT=/app
    volumes:
      - .:/app
