services:
    tests:
        build: .
        volumes:
            - ./repository_before:/app/repository_before
            - ./repository_after:/app/repository_after
            - ./tests:/app/tests
            - ./jest.meta.config.js:/app/jest.meta.config.js

            - /app/repository_after/kanban_app/node_modules
            - /app/repository_before/kanban_app/node_modules

        working_dir: /app

        command: >
            sh -lc "
            node /app/repository_after/kanban_app/node_modules/jest/bin/jest.js
            --config /app/jest.meta.config.js
            --runInBand
            --silent
            "

    evaluation:
        build: .
        volumes:
            - ./repository_before:/app/repository_before
            - ./repository_after:/app/repository_after
            - ./tests:/app/tests
            - ./evaluation:/app/evaluation
            - ./jest.meta.config.js:/app/jest.meta.config.js

            - /app/repository_after/kanban_app/node_modules
            - /app/repository_before/kanban_app/node_modules

        working_dir: /app/tests

        command: node ../evaluation/evaluate.js
